:host { // É o component Login, ou seja, vai fazer o estilo de todo o componente
  display: flex;
  justify-content: center;
  margin: 72px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 400px;
}

mat-card-title {
  display: flex;
  justify-content: center;
}
